* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:white;
}



.container {
    display: grid;
    grid-template-rows: 1.75fr 6fr 1.1fr;
    margin:0 auto;
    width:90%;
    min-height: 100vh;
    height: auto;
    gap: 2rem;

}


.main__header {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.main__content {
    padding: 2rem;
}



.header__nav {
    margin-top: 1rem;
}

.main__photo {
    margin-top: 4rem;
    max-width: 500px;
    height: auto;

}

.anchor__header {
    margin-left: 30px;
}

ul {
    padding: 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 1rem;
}

.skills__header {
    padding-top: 1rem;
    
}

.project__header__format {
    padding-left: 1rem;
    padding-top:  1rem;
}


.desc__format {
    padding-top: .7rem;
    padding-left: 1rem;
}

.project__desc__format {
    padding-top: 1rem;
    padding-left: 2rem;
}

.project__img__format {
    padding-top: 2rem;
    padding-left: 2rem;
    max-width: 1000px;
    width: 100%;
    height: auto;
}

.contact__info {
    display:flex;
    flex-direction: column;
    align-items:  center;
    margin-top: 4rem;
    padding-top: 1rem;
}

.icon {
    width: 60px;
}

ol {
    list-style:none;
}

.contact__links {
    display:flex;
}

.icon {
    margin: 2rem;
}

.back__to__top {
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.project__1__img:hover {
    transform: scale(1.05);
    transition: transform .2s;
}

.project__1__img {
    transform: scale(1.0);
    transition: transform .2s;
}


.project__2__img:hover {
    transform: scale(1.05);
    transition: transform .2s;
}

.project__2__img {
    transform: scale(1.0);
    transition: transform .2s;
}


.project__3__img:hover {
    transform: scale(1.05);
    transition: transform .2s;
}

.project__3__img {
    transform: scale(1.0);
    transition: transform .2s;
}

.skills__used  {
    justify-content: flex-start;
    padding: .5rem 1.5rem;
}

h4{
    margin-top: 2rem;
    padding-left: 1rem;
}

.github__repo {
    padding: 1rem;
}


.project__4__img:hover {
    transform: scale(1.05);
    transition: transform .2s;
}

.project__4__img {
    transform: scale(1.0);
    transition: transform .2s;
}