html {
    font-family: 'Economica', sans-serif;
    font-size: 25px;
}

.title__header {
    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
}

.main__content {
    background-color: black;
}


body {
    background-color: rgb(66, 61, 61);
    background-image: url(../images/angryimg.png);
    background-size:cover;
}


.contact__info {
    background-color: black;
}
